<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALQ5K4iS6vUA5eIqUEjEPkhmlLj99JYd8</string>
	<key>GCM_SENDER_ID</key>
	<string>570913670913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dw0124.dailyshotClone</string>
	<key>PROJECT_ID</key>
	<string>dailyshotclone</string>
	<key>STORAGE_BUCKET</key>
	<string>dailyshotclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570913670913:ios:5d5f274b3130ea97317d00</string>
</dict>
</plist>